<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineTech</title>
    <!--INCLUDES-->
    <script src="/assets/scripts/includes.js"></script>
    <div data-include="head.html"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!---Head Spécifique--->
    <script type="module" src="/controllers/SerieController.js" defer></script>
</head>
<body>
    <header>
        <div data-include="header.html"></div>
    </header>
    <main>
        <section>
            <div class="moviesContainer">
                <div class="movie-grid">

                </div>
                <!---PAGINATION----------------------------------------->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <a class="page-link" id="previous" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <li class="page-item"><a class="page-link" id="1">1</a></li>
                        <li class="page-item"><a class="page-link" id="2">2</a></li>
                        <li class="page-item"><a class="page-link" id="3">3</a></li>
                        <li class="page-item"><a class="page-link" id="4">4</a></li>
                        <a class="page-link" id="next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
</body>
</html>