/*-----SLIDER-----*/
.gs_slider{
    display: flex;
    flex-direction: column;
    height: 60svh;
    justify-content: center;
}

.gs_slider_poster{
    width: 100%;
    height: 100%;
}

.gs_slider_video{
    width: 100%;
}

.gs_arrow{
    width: fit-content;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.gs_arrow_left{
    left: 0;
}

.gs_arrow_right{
    right: 0;
}

.gs_slider_button img{
    width: 100px;
}
